<section class="about-me pad-top-contact">
  <div class="overflow-hidden">

    <!-- <div class="content-left-ab"></div> -->
    <div class="flex-box">
      <img class="map" src="{{ .image }}" alt="{{ .imgalt }}">
   </div>
    <div id="font" class="mb-1 mt-30">
        <p class="font-color">{{ .firstsection| markdownify }}</p>
        <p class="font-color">{{ .secondsection| markdownify }}</p>
        <p class="font-color">{{ .thirdsection| markdownify }}</p>
        <p class="font-color">{{ .forthsection| markdownify }}</p>
        <p class="font-color">{{ .fifthsection| markdownify }}</p>
        <p class="font-color">{{ .sixthsection| markdownify }}</p>
        <p class="font-color">{{ .seventhsection| markdownify }}</p>
        <p class="font-color">{{ .eighthsection| markdownify }}</p>

    </div>
