<section class="leistungen about-me">
    <div class="pb-30">
        <h2>{{ .firstheader| markdownify }}</h2>

        <h3>{{ .firsttitle| markdownify }}</h3>
        <p class="font-italic underline">{{ .firsttext1| markdownify }}</p>

        <h2 class="font-italic underline">{{ .angebottitel1| markdownify }}</h2>
        <h3 class="font-italic underline">{{ .angebotSubTitle1| markdownify }}</h3>
        <ul>
           <li>{{ .angebotliste11| markdownify }}</li>
           <li>{{ .angebotliste12| markdownify }}</li>
           <li>{{ .angebotliste13| markdownify }} <span class="underline">{{ .angebotliste13a| markdownify }}</span></li>
           <li>{{ .angebotliste14| markdownify }}</li>
           <li>{{ .angebotliste15| markdownify }}</li>
           <li>{{ .angebotliste16| markdownify }}</li>
           <ul>
               <li class="indent2">{{ .angebotliste16a| markdownify }}</li>
               <li class="indent2">{{ .angebotliste16b| markdownify }}</li>
            </ul>
        </ul>
        <h2 class="font-italic">{{ .angebotspreis1| markdownify }}</h2>
        <p>{{ .angebotspreis1zusatz| markdownify }}</p>

        <h2 class="font-italic underline">{{ .angebottitel2| markdownify }}</h2>
        <h3 class="font-italic underline">{{ .angebotSubTitle2| markdownify }}</h3>
        <ul>
           <li>{{ .angebotliste21| markdownify }}</li>
           <li>{{ .angebotliste22| markdownify }}</li>
           <li>{{ .angebotliste23| markdownify }} <span class="underline">{{ .angebotsliste23a| markdownify }}</span></li>
           <li>{{ .angebotliste24| markdownify }}</li>
           <li>{{ .angebotliste25| markdownify }}</li>
           <li>{{ .angebotliste26| markdownify }}</li>
           <ul>
               <li class="indent2">{{ .angebotliste26a| markdownify }}</li>
               <li class="indent2">{{ .angebotliste26b| markdownify }}</li>
           </ul>
        </ul>
        <h2 class="font-italic">{{ .angebotspreis2| markdownify }}</h2>
        <p>{{ .angebotspreis2zusatz| markdownify }}</p>
        
        <h2 class="font-italic underline">{{ .angebottitel3| markdownify }}</h2>
        <h3 class="font-italic underline">{{ .angebotSubTitel3| markdownify }}</h3>
        <ul>
           <li>{{ .angebotliste31| markdownify }}</li>
           <li>{{ .angebotliste32| markdownify }}</li>
           <li>{{ .angebotliste33| markdownify }}</li>
           <li>{{ .angebotliste34| markdownify }}</li>
           <li>{{ .angebotliste35| markdownify }}</li>
           <li>{{ .angebotliste36| markdownify }}</li>
           <li>{{ .angebotliste37| markdownify }}</li>
           <ul>
               <li class="indent2">{{ .angebotliste37a| markdownify }}</li>
               <li class="indent2">{{ .angebotliste37b| markdownify }}</li>
            </ul>
        </ul>
        <h2 class="font-italic">{{ .angebotspreis3| markdownify }}</h2>
        <p>{{ .angebotspreis3zusatz| markdownify }}</p>

        <h2 class="font-italic underline">{{ .angebottitel4| markdownify }}</h2>
        <h3 class="font-italic underline">{{ .angebotSubTitel4| markdownify }}</h3>
        <ul>
            <li>{{ .angebotliste41| markdownify }}</li>
            <li>{{ .angebotliste42| markdownify }}</li>
            <li>{{ .angebotliste43| markdownify }}</li>
            <li>{{ .angebotliste44| markdownify }}</li>
            <li>{{ .angebotliste45| markdownify }}</li>
            <ul>
               <li class="indent2">{{ .angebotliste45a| markdownify }}</li>
               <li class="indent2">{{ .angebotliste45b| markdownify }}</li>
            </ul>
        </ul>
        <h2 class="font-italic">{{ .angebotspreis4| markdownify }}</h2>
        <p>{{ .angebotspreis4zusatz| markdownify }}</p>
    </div>
</section>